body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.card {
  display: inline;
  width: 30%;
}

span {
  color: #191970;
}

.left-card { 
  float: left;
}

.right-card {
  float: right;
}

h2 {
  position: relative;
  left: 50px;
  width: 100%;
}

.card-text {
  position: relative;
  left: 50px;
}

.tile-image {
  height: 200px;
  float: left;
}

.right-card {
  float: right;
}

h1 {
  font-size: 5rem;
  display: inline-block;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}
