body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
}

h1 {
  font-size: 5rem;
}

span {
  color: #191970;
}

.main > div {
  display: inline-block;
  width: 45%;
}

.main h2 {
  left: 50px;
  display: block;
}

.card-text {
  left: 50px;
  display: block;
}

p {
  font-size: 1em;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card > img {
  float: left;
  height: 200px;
  margin-right: 50px;
}

footer{
  text-align: right;
  color: midnightblue;
  position: relative;
  top: 50%;
}
